{
  "presets": ["env", "stage-0", "react", "react-app"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["import", { "libraryName": "@material-ui", "libraryDirectory": "core","camel2DashComponentName": false, "style": true}, "@material-ui"]
  ]
}
